/nbproject/private/
sites/default/files/js/*
sites/default/files/css/*
sites/default/files/php/*
sites/default/files/languages/fr_-eU2ZHD8F0eLkGmbgMxVa_nhrq61ijPIiks3nD3goEk.js
sites/default/files/translations/devel-8.x-1.0-beta1.fr.po
