<div class="header-links">
<ul class=" nav">
  <li> <a href="/about" data-drupal-link-system-path="/about" class="is-active">{{ 'About CogecoTV'|t }}</a> </li>
  <li> <a href="/contact" data-drupal-link-system-path="/contact" class="is-active">{{ 'Contact Us'|t }}</a> </li>
</ul>
</div>
