{% if social_media.facebook is not empty %}
    <a href="{{ social_media.facebook }}" title="Facebook" alt="Facebook" target="_blank"><span class="ti-facebook"></span></a>
{% endif %}

{% if social_media.twitter is not empty %}
    <a href="{{ social_media.twitter }}" title="Twitter" alt="Twitter" target="_blank"><span class="ti-twitter"></span></a>
{% endif %}

{% if social_media.youtube is not empty %}
    <a href="{{ social_media.youtube }}" title="Youtube" alt="Youtube" target="_blank"><span class="ti-youtube"></span></a>
{% endif %}