<div class="weather">
    <div class="city">
        <h4>Burlington</h4>
    </div>
    <div class="info"><i class="icon icon-xs ti-shine">&nbsp;</i>
        <p><span class="temperature">+15</span> <span class="degreeC">℃</span></p>
    </div>
</div>