

<h1>Terms and conditions</h1>

<p>Website Use Terms & Conditions</p>
<p>Welcome to the CogecoTV website (the "Website").</p>
<p>By accessing or using the Website, you will be deemed to have agreed to be bound by the terms and conditions of this legal notice (the "Legal Notice").</p>

<b>Preamble</b>

<p>CogecoTV is the medium for Cogeco Cable’s local community programming.  In conjunction with its televised programming, it makes its Website available to the community so the Website users (the “Users” or “You”) can disseminate information of interest to the community.  Users can upload photos, videos and community messages, participate in various discussion forums or comment on the Website content.  Users can also submit reporting and broadcasting ideas.</p>

<p>To post content on the CogecoTV Website and access its various interactive features, Users must first subscribe by providing their email address and creating a password.  The password will always remain confidential.  If Users lose their password, CogecoTV will have to reinitialize their old password so they can create a new one.</p>

<b>Confidentiality</b>
<p>When You access information on the Website, CogecoTV may ask You to provide personal information, at your sole discretion. If You comply with such a request, You will be agreeing to be bound by the terms and conditions of COGECO’s privacy policy.</p>

<b>Intellectual Property</b>
<p>All text, videos, photo, comments and community announcements uploaded by Users will remain the property of the Users (the “User Content”).  Every User who uploads User Content to the Website must hold all copyrights or licenses to use required for dissemination on the Web, including music copyrights.  You warrant that You own or have obtained the licences, rights, consents and permissions necessary to use, and to authorize us to use, any trade-marks, copyrighted material, intellectual property or proprietary material contained in your User Content and that You have written consent, an assignment or permission covering every identifiable person appearing or mentioned in your User Content to use their name or image.</p>

<b>Rights of Use</b>
<p>By posting their User Content, Users grant CogecoTV the unlimited right to use such User Content for dissemination on the Web, in its community programming or for the communication or promotion of CogecoTV or COGECO, with no jurisdictional or time limits.</p>

<b>User Conduct</b>
<p>Users must abide by COGECO’s code of ethics and the corporation’s privacy policies.   Without limiting the generality of the foregoing, You may not use the Website, directly or indirectly, to: violate another person’s privacy, or collect, disclose or record another persons’ personal information (including their telephone number, mailing address, email address, surname, etc.); attack or harass another person in any manner; harm minors; incite hatred or illegally promote such conduct, or impersonate any person or entity including, without limitation, a COGECO representative, forum facilitator, guide or host, or misrepresent your affiliation with any person or entity.</p>

<b>Prohibited Content</b>
<p>User Content will be removed from the Website if we find it to be obscene, indecent, defamatory, threatening, fraudulent, misleading, intimidating, pornographic, harassing, abusive, hateful, racially or ethnically offensive, or to promote or advocate conduct that would represent a criminal offence, could lead to civil suits or which is in any other way objectionable, offensive, inappropriate or illegal.</p>

<b>Removal of User Content</b>
<p>CogecoTV may at any time, if it deems in its sole discretion that User Content is not appropriate in the context of its community mission, remove and/or modify or refuse to publish all or part of any material or information without notice.</p>

<b>Responsibility for User Content</b>
<p>You will be solely responsible for the uploaded User Content made available through the Website, and for all consequences of its use.  You will also be liable for any costs, losses and damages attributable, directly or indirectly, to the User Content made available on or through the Website.</p>

<b>Indemnification</b>
<p>To the maximum extent permitted by applicable law, You will defend, indemnify and hold harmless CogecoTV and its affiliates, as well as each of their respective directors, officers, employees, consultants and agents, from and against all claims, liability and expenses, including fees of legal counsel and other legal costs arising from Your violation of the provisions of this Legal Notice or Your use of this Website.</p>

<b>General</b>
<p>CogecoTV may, in its sole discretion, change, supplement or remove any content or information appearing on the Website and the provisions of this Legal Notice at any time without notice.  If You are dissatisfied with the Website or with the terms and conditions of the Legal Notice, your sole remedy is to discontinue using the Website.</p>

<p>This Legal Notice will be governed exclusively by the laws of the Province of Ontario and the laws of Canada applicable therein.  The terms and conditions of this Legal Notice constitute the entire agreement between You and CogecoTV with respect to Your use of the Website. The failure of CogecoTV to enforce this agreement, for whatever reason, shall not be construed as a waiver of any right to do so in future.  If any provisions contained herein shall be determined to be void, invalid or unenforceable by a court of competent jurisdiction, the remaining provisions will remain in full force and effect.</p>