<h3>Termes et conditions d'utilisation du site</h3>

<p>Bienvenue sur le site Web CogecoTV (le "Site Web").</p>
<p>En accédant au Site Web ou en l'utilisant, vous serez réputé avoir convenu d'être lié par les modalités du présent avis juridique (l'"Avis juridique").</p>

<b>Préambule</b>

<p>CogecoTV assure localement le service de programmation communautaire de Cogeco Connexion. En complémentarité avec ses services de programmation télévisuelle, elle met à la disposition de la communauté son Site Web pour permettre aux usagers du Site Web (« Usagers » ou « Vous ») de diffuser des informations d'intérêts communautaires. Les Usagers peuvent télécharger des photos, des vidéos, des messages communautaires et participer aux différents forums de discussion ou commenter le contenu présenté sur le Site Web. Ils peuvent également soumettre des sujets de reportage et des sujets d’émission.</p>

<p>Pour ajouter du contenu au Site Web de CogecoTV et avoir accès aux différentes fonctionnalités interactives du Site Web, les Usagers doivent au préalable s’inscrire à l’aide de leur adresse courriel et définir un mot de passe. Leur mot de passe demeure toujours confidentiel. S’ils perdent leur mot de passe, CogecoTV devra réinitialiser leur ancien mot passe afin qu’ils puissent en définir un nouveau.</p>

<b>Confidentialité</b>

<p>Lorsque vous accédez à des renseignements qui figurent sur le Site Web, CogecoTV peut vous demander de fournir des renseignements personnels, à votre entière discrétion. Si vous accédez à une telle demande, vous convenez d'être lié par les modalités de la politique en matière de protection de la vie privée de COGECO.</p>

<b>Propriété intellectuelle</b>

<p>Tous les textes, vidéos, photos, commentaires ou annonces communautaires téléchargés par les Usagers demeurent la propriété des Usagers (le « Contenu de l’Usager»). Chaque Usager qui télécharge du Contenu de l’Usager sur le Site Web doit détenir tous les droits d’auteurs ou les autorisations d’utilisation nécessaires à la diffusion sur le Web, incluant les droits d’auteurs sur la musique. Vous garantissez que Vous détenez ou avez obtenu les licences, droits, consentements et permissions nécessaires pour utiliser, et nous autoriser à utiliser les marques de commerce, le matériel protégé par droits d'auteur ou les éléments de propriété intellectuelle ou de propriété exclusive contenus dans votre Contenu de l’Usager, et que Vous disposez du consentement écrit, d'une cession ou d'une permission rattachés à toutes les personnes identifiables apparaissant ou mentionnées dans votre Contenu de l’Usager, permettant d'utiliser leurs noms ou leurs personnifications.</p>

<b>Droits d’utilisation</b>

<p>En déposant leur Contenu de l’Usager, les Usagers accordent à CogecoTV le droit d’utilisation illimité d’utiliser ce Contenu de l’Usager pour des fins de diffusion sur le web, dans sa programmation communautaire ou pour des fins de communication et de promotion de CogecoTV ou de COGECO et ce, sans limite de territoire ni de durée dans le temps.</p>

<b>Conduite de l’Usager</b>

<p>Les Usagers doivent respecter le code d’éthique de COGECO et respecter les normes de confidentialité de l’entreprise. Sans limiter la généralité de ce qui précède, Vous ne pouvez pas utiliser le Site Web, de façon directe ou indirecte pour : violer la vie privée d'une autre personne ou recueillir, divulguer ou enregistrer de l'information personnelle à propos d'autres personnes (y compris en ce qui a trait aux numéros de téléphone, adresses postales, adresses de courriel, noms de famille, etc.); attaquer  ou harceler de quelque façon une autre personne; nuire à des personnes d'âge mineur; inciter à la haine ou promouvoir illégalement un tel comportement; ou usurper l’identité d’une personne ou d’une entité, y compris, sans toutefois s’y limiter, un représentant de COGECO, un animateur de forum, un guide ou un hôte, ou faire de fausses représentations à l’égard de votre affiliation à une personne ou à une entité.</p>

<b>Contenus interdits</b>

<p>Le Contenu de l’Usager sera retiré du Site Web s’il nous apparaît qu’il s’agit de contenu de nature obscène, indécente, diffamatoire, menaçante, frauduleuse, trompeuse, intimidante, pornographique, harcelante, abusive, haineuse, offensante sur le plan racial ou ethnique, ou encore qui favorise ou appuie une conduite qui représenterait une offense criminelle, pourrait entraîner des poursuites civiles ou s'avérerait disgracieux, offensant, inapproprié ou illégal de quelque autre façon.</p>

<b>Retrait du Contenu de l’Usager</b>

<p>CogecoTV peut, en tout temps si elle juge à sa seule discrétion que le Contenu de l’Usager n’est pas approprié dans le cadre de sa mission communautaire, supprimer et/ou modifier ou refuser de publier, sans avis, tout matériel ou information, en tout ou en partie.</p>

<b>Responsabilités pour le Contenu de l’Usager</b>

<p>Vous serez seul responsable du Contenu de l’Usager téléchargé rendu disponible par l'entremise du Site Web, et de toutes les conséquences résultant de son utilisation. Vous serez également responsable des coûts, des pertes ou des dommages attribuables, directement ou indirectement, au Contenu de l’Usager rendu disponible sur le Site Web ou par l'entremise de celui-ci.</p>

<b>Indemnisation</b>

<p>Dans toute la mesure permise par les lois applicables, Vous assurerez la défense de CogecoTV, des membres de son groupe et de ses sociétés affiliées, ainsi que de chacun de leurs administrateurs, de leurs dirigeants, de leurs employés, de leurs consultants et de leurs mandataires respectifs, indemniserez ces personnes et les tiendrez quitte des réclamations, des responsabilités et des frais, y compris les honoraires d'avocats et les autres frais juridiques, découlant d'une violation de votre part des dispositions du présent Avis juridique ou de l'utilisation du présent Site Web.</p>

<b>Dispositions générales</b>

<p>CogecoTV peut, à son entière discrétion, modifier, compléter ou supprimer des renseignements qui figurent sur le Site Web ou du contenu de celui-ci ainsi que des dispositions du présent Avis juridique à tout moment, sans avis. Si Vous êtes insatisfait du Site Web ou des modalités de l'Avis juridique, votre seul recours consistera à cesser d'utiliser le Site Web.</p>

<p>Le présent Avis juridique sera régi exclusivement par les lois de la province de Québec et par les lois du Canada qui s'y appliquent. Les modalités du présent Avis juridique constituent l'entente intégrale que Vous avez conclue avec CogecoTV relativement à l'utilisation que vous faites du Site Web. Si, pour quelque raison que ce soit, CogecoTV ne met pas à exécution la présente convention, cela ne doit pas être interprété comme une renonciation à son droit de le faire à l'avenir. Si des dispositions qui figurent dans les présentes sont jugées nulles, invalides ou inexécutoires par un tribunal d'un territoire compétent, les autres dispositions continueront d'avoir plein effet.</p>